h1{
    font-family: 'Courier New', Courier, monospace;
}
body{
    padding: 5px;
    margin-top: 200px;
    margin-right: 500px;
    margin-left: 550px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color:#8c6d52 ;
    background-size:cover;
    background-repeat: no-repeat;
}
fieldset{
    border-radius: 10px;
    background-color: #f5efe5;
    box-shadow: 0px 0px 10px burlywood;
}
input{
    height:25px;
    width: 200px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 2px solid black;
    
}

label{
    color: black;
}
a{
    color: rgb(102, 67, 233);
}
button{
    background-color: blue;
    width: 150px;
    height:40px;
    border-radius: 12px;   
}