h1{
    font-family: 'Courier New', Courier, monospace;
    color:maroon;
}
body{
    padding: 5px;
    margin-top: 200px;
    margin-right: 500px;
    margin-left: 550px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder; 
    background-image: url(https://imgs.search.brave.com/wZn6UhwGsTyBrCBafEVvmZveDDF7aezPNz1sOEgYxN8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzEyLzY4LzQxLzAw/LzM2MF9GXzEyNjg0/MTAwODZfcjc2cHQz/UnYydFBpelZUckFq/Z29IR2Z4MWRYSDZY/aWguanBn);
    background-size:cover;
    background-repeat: no-repeat;
}
input{
    border-radius: 5px;
    border: 2px solid black;   
}
fieldset{
    border-radius: 10px;
    background-image: linear-gradient(whitesmoke);
    box-shadow: 0px 0px 50px black;
}

label{
    color: black;
}
a{
    color: aqua;
}
button{
    background-color: rgb(12, 97, 225);
    width: 100px;
    height: 25px;
    border-radius: 12px;   
}
