body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 100px;
    background-color: #c9600a;
}
form{
    padding-left: 10px;
    padding-bottom: 20px;
    border: 1px solid rgb(183, 216, 18);
    border-radius: 10px;
    background-color: #f4f2f07d;
    transform: scale(1.1);
}
input{
    height: 30px;
    width: 250px;
    background-color: antiquewhite;
}
button{
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: green;
}
